@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900 ');

.my-face{ 
    display: auto; 
    width: 100px; 
    height: 100px; 
    margin: auto;  
    border-radius: 50%; 
    border: 1px solid #aaa; 
    margin-top: 50px; 
}

.container {
    display: flex;
  
     background-color:grey;
     padding:10px;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:flex-start;
     width: 100%;

 }

 .child {
   
    padding:10px;
     flex-grow:1;
     flex-basis:100px;
     color: #BAE911;
 }

 .child-big{
     flex-grow:2;
     flex-basis:400px;
     border-left:1px solid black;
   
 }

 .my-form{
     width: 150px;
     margin: auto;
      
 }