@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900 ');

.my-body{ 
    font-family: "Lato"; margin: 0; 
}

.my-container{ 
    font-size: 3rem; 
    max-width: 600px; 
    margin: auto; 
}

.my-parallax{ 
    min-height: 80vh; 
    background-image: url('galexy_background.jpg'); 
    background-repeat: no-repeat;    
    background-size: cover;    
    background-position: bottom;    
    background-attachment: fixed; 
}

